.wrapper{
   
    border-bottom: 1px solid red;
}
.container{
    max-width: 60rem; 
    margin:0 auto; 
    padding: 1.2rem;


}
.page_title{
    background: rgb(33,44,66);
    color: red;
    
}
.header{
    padding:20px 0;
    background-color: black;
    margin-bottom: 5px;
    align-items: left;
    box-shadow: 5px 10px;    
    display: flex;
    color:white;
}
.header_container{
    width: 100%;
    display: flex;
    justify-content: baseline;
}
.header_items{
   
    color:white;
    margin-left: 4px;
}
.header_items_input{
    color:red;
    border-radius: 2px;
    height:30px;
    padding: 1px 2px;
}
.header_active_class{
    color:yellow;
    text-decoration: underline;
}
.header_items:hover{
    color:green;
}
.btn{
    padding: 1px 2px;
    color:red;
    border:none;
    height: 30px;
    width: 100px;
    background: transparent;
    text-align: left;
}
.btn:hover{
    background: transparent;
    text-decoration: underline;
    color: #3456ee;
}
.category{
    display: flex;
    justify-content: space-between;
    margin:0;
    padding:20px 10px;
    border-bottom: 2px solid grey;
}
.category_text{
  
}
.widget{
    background: #464b5e;
    margin-bottom: 15px;
    color:white;
    font-weight: bold;
}
.widget-header{
    background:#3c4251;
    color:#a5afd7;
    display: flex;
    padding:2px;
    justify-content: space-between;
}
.widget_header_title{
    margin:0;
    color:white
}

.beers-container{
    display:flex;
    justify-content:row;
}
.flex-child{
    margin-top: 10px;
    width:300px;
    height:200px;
    box-shadow: 3px 5px;
    border: 1px solid rgb(150, 17, 17);
    padding:10px;
    margin-left:20px;
    border-radius: 3px;
    background:transparent;
    
}

.home{
   
    height: 100vh;
}
.beer_title{
    color:red;
    width: 100%;
    background: #05155e;
    text-align: center;
}
.beer_details{
display:flex;
justify-content: center;
flex-shrink: 1;


}
.beer_details_content{
    margin-top: 10px;
    width:60%;
    box-shadow: 3px 8px rgb(68, 67, 67);
    padding:10px;
    margin-left:20px;
    border-radius: 3px;
    color:orange;
    background-color: #141724;
}
.btn-danger{
    margin-left: 2rem;
    padding: 0 0;
    
}
.form-group input{
  border:0;
  border-bottom: 2px solid #05155e;

}
.form-item{

    margin :0 auto;
    width:100%;
    background: #141724;
    color:orange;
    padding:10px 10px;
}
.beer-text{
    margin:0 auto;
    color:green;
    position:relative;
}
.form-item .btn{
    background-color: orange;
    color:black;
}
.add_beer{
    background-color: #141724;
    height: 100vh;
}

.form-container{
    width:100%;
    margin:0 auto;
   
    padding: 20px 20px;
    color:orange;
    box-shadow: 0 4px gray;
    border-radius: 2px;
}
.search_items_input{
    border:0;
    border-bottom: 1px solid #f16051;
    margin: 4px;
    color:rgb(233, 133, 18) !important;
    background:transparent;
    font-size: 20px;
    width: 200px;
    font-style: inherit;
}
.search_items_input:hover{
    width: 300px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.1s ease-in-out;

}
.search_items_input:focus{
    background:white;
    
}
.search_items_btn{
    border-radius: 4px;
    background: #9e3325;
    color:white;
}
.search_items_btn:hover{
  background: #726a69;

}
.search_items_btn:active{
    background: #9e3325;
  
  }
  .no_beer{
      margin-top:10px;
  }